<section class="border m-2 p-5">
  <h2 class="text-2xl font-bold mb-6 text-center">Nos produits</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    @for(product of respApi.data; track product.id){
    <div class="h-full cursor-pointer">
      <app-product-card [product]="product"></app-product-card>
    </div>
    } @empty {
    <div class="col-span-full flex justify-center items-center py-12">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
      <p class="ml-3 text-gray-500">Chargement...</p>
    </div>
    }
  </div>
</section>

<!--PAGINATION-->
<section class="w-fit m-auto">
  <button [disabled]="respApi.prev===null" (click)="handlePreviousPage()" class="btn mr-5"> présent </button>
  <button [disabled]="respApi.next === null" (click)="handleNextPage()" class="btn"> Suivant</button>
  <p class="w-fit m-auto mt-5">
    Page: {{respApi.next === null ? respApi.pages : respApi.next - 1}} / {{ respApi.pages }}
  </p>
</section>
