<!--
<nav class="bg-neutral flex justify-center space-x-4 py-5">
  <a class="hover:underline cursor-pointer" routerLink="/">Accueil</a>
  <a class="hover:underline cursor-pointer" routerLink="products">Mes produits</a>
  <a class="hover:underline cursor-pointer" routerLink="product/1">Détail</a>
</nav>
-->


<nav class="bg-neutral flex justify-center space-x-4 py-5">
  <app-nav-button [linkData]="{ routerLink: '/' , title: 'Accueil' }" />
  <app-nav-button [linkData]="{ routerLink: 'products' , title: 'Mes produits' }" />
  <app-nav-button [linkData]="{ routerLink: 'product/1' , title: 'Détail' }" />
  <app-nav-button [linkData]="{ routerLink: 'products-api' , title: 'Mes produits - API' }" />
  <app-nav-button [linkData]="{ routerLink: 'pokedex' , title: 'Pokedex' }" />

  <app-nav-button [linkData]="{ routerLink: 'login' , title: 'Se connecter' }" />
</nav>