<section>
  <h1>Mes produits </h1>
  <input type="number" [(ngModel)]="productId">
  <button class="btn" (click)="goToProductDetail()">Naviguer au produit d'id : {{productId}}</button>
</section>
<section class="border m-2 p-5">
  <ul>
    @for(product of products; track product.id){
    <li>{{product.title}}</li>
    <li>{{product.price}}</li>
    <li>{{product.image}}</li>
    <li>{{product.description}}</li>
    <li>{{product.name}}</li>
    <li>{{product.category}}</li>
    <br>
    } @empty {
    <p>Chargement ...... </p>
    }
  </ul>

</section>